.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #d7dfe9;
  font-family: Roboto;
}

.website-logo {
  color: #000000;
  font-size: 24px;
}

.link-item {
  text-decoration: none;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cart-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.logout-button {
  background-color: #f7931e;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}
